@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 2em;
  font-family: 'Montserrat', sans-serif;
  background-color: blanchedalmond;

}
header{
  display: flex;
  justify-content: space-evenly;
  font-family: 'Montserrat', sans-serif;
}
header p{
  width: 300px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

img {
  width: 18em;
  margin:1.5em;
  border-radius: 2em;
}

#photo2, #photo5{
  margin-top: 2.9em;
}

figcaption {
  margin-left: 1.7em;
}
.photo {
  position: relative;
}
.photo p{
  position: absolute;
  margin-left: 25.7em;
  margin-top: 3em;
  transform: rotate(90deg);
  font-size: 12px;
}

footer {
  display:flex;
  justify-content: center;
  margin: 1.5em;
}

@media (max-width: 800px) {
  img {
    width: 10em;
  }
}
@media (max-width: 800px) {
  .photo p{
    
    margin-left: 25.7em;
    margin-top: 3em;
    transform: rotate(90deg);
    font-size: 7.2px;
    font-weight:500;
  }
}

@media (max-width: 800px) {
  header{
    flex-direction: column;
    
  }
}

